.body{
    width: 100%;
    margin: 0 auto;
}

.left-container {
    min-width: 50px;
    width: 30%;
    min-height: 775px;
    height: 100%;
    float: left;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;  
    opacity: 1;
    background-color: #c5c5c523;
    background-repeat: no-repeat;
}

.driver-container {
  min-width: 200px;
  width: 70%;
  height: 100%;
  text-align: center;
  float: right;
  background-color: rgba(0, 0, 0, 0.753);
}
.team-container {
  min-width: 200px;
  width: 70%;
  min-height: 100px;
  height: 100%;
  text-align: center;
  float: right;
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: rgba(255, 255, 255, 0.623);
}

.card {
    display: inline-flex;
   
    margin-top: 0.6em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    background-color: white;
    border-radius: 5px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 12px;
}

.card:hover {
    opacity: 0.8;
}

.card-img-top {
  display: inline-flex;
  width: 60%;
  height: 60%;
}

img {
  width: 50%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dd1806ca;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #ca1b1b;
  }

  .active {
    background-color: #ff0404;
  }

  ul {
      list-style-type: none;
  }